---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

<!DOCTYPE html>
<html>

<head>
    <link href="index.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="header">
            <ul class="headertop">
                <p>nav</p>
                <li class="headertoptext">
                    <b>trademarkhell.net // trademark's special hell</b>
                </li>
            </ul>
            <ul class="header-flex">
                <ul class="nav">
                    <li class="navitem">
                        <p>home</p>
                    </li>
                    <li class="navitem">
                        <p>blog</p>
                    </li>
                    <li class="navitem">
                        <p>tech</p>
                    </li>
                    <li class="navitem">
                        <p>music</p>
                    </li>
                    <li class="navitem">
                        <p>anime</p>
                    </li>
                    <li class="navitem">
                        <p>soon</p>
                    </li>
                    <li class="navitem">
                        <p>soon</p>
                    </li>
                    <li class="navitem">
                        <p>soon</p>
                    </li>
                </ul>
                <li class="banner">
                </li>
            </ul>
        </div>
        <div class="content">
            <ul class="maintext">
                <li class="maintexttop">
                    <p>what's this?</p>
                </li>
                <li class="maintextcontent">
                    <p> Welcome to trademarkhell.net, the designated dumping ground for my ramblings, thoughts, and
                        rambling thoughts. I mostly just use this site to publish my pseudo-essays on various topoics,
                        predominantly relating to my interests.</p>
                    <p>I unfortunately haven't yet thought of a pretentious way to describe my site as a internet utopia
                        which will change the world, so the best I can do is a philisophical quote generator, which I'll
                        attach below. Thank me for my boundless wisdom later.</p>
                    <span class="quotebg">
                        <marquee>"holy shit i just got quoted...."</marquee>
                    </span>
                    <p>Anyways, click around the site if you want, there's probably cool stuff (if page long essays about useless things are considered cool nowadays)</p>
                </li>
            </ul>
            <ul class="whatsnew">
                <li class="maintexttop">
                    <p>what's new?</p>
                    
                </li>
                <li class="wnewcontent">
                    {% for post in posts %}
  <article>

    <h1>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h1>

    <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>

    {% excerpt post %}

    <a href="{{ post.url | url }}">Read more</a>

  </article>
{% endfor %}
                </li>
            </ul>
            <ul class="bottom">
                <ul class="bottomsection">
                    <li class="maintexttop">
                        something to say?
                    </li>
                    <li class="botsecitem">test</li>
                </ul>
                <ul class="bottomsection">
                    <ul class="button">
                        <li class="maintexttop">
                            <p>shill my site..</p>
                        </li>
                        <li class="bottext"></li>
                    </ul>
                    <ul class="button">
                        <li class="maintexttop">
                            <p>shill your site..</p>
                        </li>
                        <li class="bottext"></li>
                    </ul>

                </ul>
            </ul>



        </div>
        <div class="footer">
            <p>Hosted on Nekoweb // Powered by 11ty // All Rights Reserved</p>
        </div>
        <div class="sidebar">
            <ul class="sidebarflex">
                <ul class="status">
                    <li class="maintexttop">
                        <p>what's up?</p>
                    </li>
                    <li class="stattext"></li>
                </ul>
                <ul class="playing">
                    <li class="maintexttop">
                        <p>listening to..</p>
                    </li>
                    <li class="playingtext"></li>
                </ul>
                <ul class="stats">
                    <li class="maintexttop">
                        <p>NekoStats</p>
                    </li>
                    <li class="statstext"></li>
                </ul>
                <ul class="playing">
                    <li class="maintexttop">
                        <p>internet stuff</p>
                    </li>
                    <li class="playingtext">webrings</li>
                </ul>
                <ul class="square">
                    <li class="maintexttop">
                        <p>sponsors</p>
                    </li>
                    <li class="squaretext"></li>
                </ul>
                <ul class="square">
                    <li class="maintexttop">
                        <p>not sponsors</p>
                    </li>
                    <li class="squaretext"></li>
                </ul>
                <ul class="follow">
                    <li class="followtext"></li>
                </ul>
            </ul>
        </div>
    </div>
</body>
<style>
    body {
        margin: auto;
        display: block;
        width: 95%;
        height: 95%;
        background-image: url("https://trademarkhell.net/checker25.png");
        animation: bgScroll 35s linear infinite;
    }
</style>

</html>